In [3]:
import pandas as pd
train = pd.read_csv('cartalk_stemaway.csv', index_col='Number')

In [4]:
train.head()
train.keys()

Index(['Topic Title', 'Category', 'Tags', 'Author', 'Commenters',
       'Leading Comment', 'Other Comments', 'Likes', 'Views'],
      dtype='object')

In [5]:
train['Title Word Count'] = train['Topic Title'].apply(lambda x: len(str(x).split()))
train[['Topic Title', "Title Word Count"]].head()

                                      Topic Title  Title Word Count
Number
0               About the Buying/Selling category                 4
1                 New Car Salesperson Commissions                 4
2       Best used car to buy for long road trips?                 9
3                         Honda Element any good?                 4
4               1993 4Runner vs 2011 Mazda3 Hatch                 6

In [6]:
train['Title Characters'] = train['Topic Title'].str.len()
train[['Topic Title', 'Title Characters']].head()

                                      Topic Title  Title Characters
Number
0               About the Buying/Selling category                33
1                 New Car Salesperson Commissions                31
2       Best used car to buy for long road trips?                41
3                         Honda Element any good?                23
4               1993 4Runner vs 2011 Mazda3 Hatch                33

In [7]:
train['Title Average Word Length'] = train['Title Characters']/train['Title Word Count']
train[['Topic Title', 'Title Average Word Length']].head()

                                      Topic Title  Title Average Word Length
Number
0               About the Buying/Selling category                   8.250000
1                 New Car Salesperson Commissions                   7.750000
2       Best used car to buy for long road trips?                   4.555556
3                         Honda Element any good?                   5.750000
4               1993 4Runner vs 2011 Mazda3 Hatch                   5.500000

In [8]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [9]:
import nltk
nltk.download('stopwords')
stop = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [10]:
train['Title Stopwords'] = train['Topic Title'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['Topic Title', 'Title Stopwords']].head()

                                      Topic Title  Title Stopwords
Number
0               About the Buying/Selling category                1
1                 New Car Salesperson Commissions                0
2       Best used car to buy for long road trips?                2
3                         Honda Element any good?                1
4               1993 4Runner vs 2011 Mazda3 Hatch                0

In [ ]:
train['Discussion'] = train['Topic Title'] + ' ' + train['Leading Comment'] + ' ' + ' '.join(str(a) for a in train['Other Comments'])

In [ ]:
train['Discussion Word Count'] = train['Discussion'].apply(lambda x: len(str(x).split()))
train[['Discussion', "Discussion Word Count"]].head()

In [ ]:
train['Discussion Characters'] = train['Discussion'].str.len()
train[['Discussion', 'Discussion Characters']].head()

In [ ]:
train['Title Average Word Length'] = train['Title Characters']/train['Title Word Count']
train[['Discussion', 'Discussion Average Word Length']].head()

In [ ]:
train['Title Stopwords'] = train['Discussion'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['Discussion', 'Discussion Stopwords']].head()

Cleanup

In [ ]:
train['Discussion'] = train['Discussion'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['Discussion'].head()

In [ ]:
train['Discussion'] = train['Discussion'].str.replace('[^\w\s]','')
train['Discussion'].head()

In [ ]:
train['Discussion'] = train['Discussion'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['Discussion'].head()

In [ ]:
frequent_words = pd.Series(' '.join(train['Discussion']).split()).value_counts()[:5]
frequent_words = list(frequent_words.index)

In [ ]:
pip install textblob

In [ ]:
import textblob
tb = textblob.TextBlob
train['Discussion'][:10].apply(lambda x: str(tb(x).correct()))
train['Discussion'].head()

In [ ]:
st = nltk.stem.PortStremmer
train['Discussion'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
train['Discussion'].head()

In [ ]:
nltk.download('wordnet')
train['Discussion'] = train['Discussion'].apply(lambda x: " ".join([textblob.Word(word).lemmatize() for word in x.split()]))

In [ ]:
train["N-grams"] = list(tb(train['Discussion']).ngrams(3))
train['Discussion'].head()